<% /* %>
Code Created by Severin
<% */ %>
<html>    
    <head>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="div1">
           <ul>
                <li><a class="active" href="Contact">Contact</a></li>
                <li><a href="Register.html">Register</a></li>
                <li><a href="VacationPackage">Packages</a></li>
                <li><a href="travelabout.html">About</a></li>
                <li><a href="Index.html">Home</a></li>
                <li><a style="margin-right:64vw">Travel Agency</a></li>
           </ul>
           <h2 style="font-style:Italic;text-align:center;color:#6082B6">Welcome to TravEl ExpeRts</h2></br>
           <div>
                <h1 style="text-align:center;color:red"><%=message%></h1>
           </div>
    </body>
</html>