<!-- Code By Jalen Shannon-->
<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link href="reset.css" rel="stylesheet" type="text/css" />
	<link href="travelstyle.css" rel="stylesheet" type="text/css" />
	<style>
		body {
			background-image: url('photos/travelinspire.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
	</style>
</head>
<body class="div1">

	<ul>
		<li><a class="active" href="Contact">Contact</a></li>
		<li><a href="Register.html">Register</a></li>
		<li><a href="VacationPackage">Packages</a></li>
		<li><a href="travelabout.html">About</a></li>
		<li><a href="Index.html">Home</a></li>
		<li><a style="margin-right:64vw">Travel Agency</a></li>
	</ul>
	<br />
	<h1>About Us</h1>
	<br />

	<h2>
		We are a Canadian based travel agency that specializes in finding the best deals available.
		<br />
		Weather you are looking for a cheep get-away for the weekend or a vacation to paradise we got you covered!
	</h2>
	<br />
	<br />


	<img src="photos/lighthouse.jpg" style="width:350px; height:350px;" />
	<br />
	<br />
	<br />

	<h3>Our Story</h3>
	<br />


	<h4>
		We started as a small group of college students that wanted to take vacations.
		After hours of reasurce we soon realized that few travel agencies actually offered deals that would be equivalent to what you would get if you booked everything your self.
		<br />
		So that was the problem we decided to solve!<br />

		Our goal is to find the most value possible for your money.
	</h4>
	<br />
	<br />
	<img src="photos/eiffeltower.jpg" style="width:350px; height:350px;" />

</body>

</html>























